* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Панель навигации */

li, a, button {
  text-decoration: none;
  color: rgb(20,15,15)
}

header {
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  top: 0;
  width: 100%;
  user-select: none;
}

header, header * {
  background-color: cornflowerblue;
}

.fulllogo {
  cursor: pointer;
  width: 200px;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #CD459D;
}

.nav_button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.nav_button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

/* конец панели навигации */

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.about-text {
  text-align: center;
  max-width: 800px;
}

.about-text p {
  margin: 20px;
}

#services {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding: 200px 5%;
  top: 0;
}

#services div {
  border-style: solid;
  border-color: black;
  border-radius: 50px;
  width: 350px;
  height: 300px;
  margin: 2%;
  align-self: center;
}

#services div img {
  position: static;
  height: auto;
  width: 344px;
  border-radius: 47px 47px 0 0;
}

#order {
  padding: 10% 10% 10% 70%;
  flex-wrap: wrap;
  align-content: space-between;
}

.order-container {
  background-color: #ffffffa4;
  min-height: 400px;
  min-width: 300px;
  border-style: solid;
  border-radius: 35px;
  border-color: black;
}

.order {
  padding: 10%;
}

.order * {
  padding: 9px 10px;
}

.order input {
  outline: none;
  border: none;
  border-radius: 50px;
  background-color: rgb(0, 163, 204);
}

/* Начало футера */

#footer {
  display: flex;
  flex-direction: column;
  background-color: cornflowerblue;
  height: 150px;
  text-align: center;
}

#footer * {
  padding: 3px;
  background-color: cornflowerblue;
}

.email {
  align-self: flex-end center;
}

/* Конец футера */